if SHIELD_SPLITBOARDS_LEFT

config ZMK_KEYBOARD_NAME
    default "SplitBoards"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITBOARDS_LEFT || SHIELD_SPLITBOARDS_RIGHT

config ZMK_SPLIT
    default y

endif